body{
    background-color: #6368d4;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
h1{
    color: #620202;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
    text-align: center;
}