
   .custom-dropdown 
   {
	 position: relative;
	 margin-bottom: 1em;
	 width: 100%; 
   }
   .custom-dropdown:before, .custom-dropdown:after 
   {
	 content: "";
	 position: absolute;
	 pointer-events: none; 
   }
   .custom-dropdown:before 
   {
	 width: 2em;
	 right: 0;
	 top: 0;
	 bottom: 0;
	 border-radius: 0 7px 7px 0;
	 background-color: #a3a3a3; 
   }
   .custom-dropdown:after 
   {
	 content: "\25BC";
	 height: 1em;
	 font-size: .625em;
	 line-height: 1;
	 right: 1.2em;
	 top: 50%;
	 margin-top: -.5em;
	 color: #FFF; 
   }              
   select 
   {
	 width: 100% !important;
	 background: none;
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 margin-bottom: 0;
	 padding: .5em;
	 font-size: .875em;
	 /* 14px / 16px */
	 background-color: #fff;
	 max-width: none; 
   }              
   select::-ms-expand 
   {
	 display: none; 
   }                     
   .footnote 
   {
	 display: inline-block;
	 font-size: 12px;
	 margin-top: 2em;
   }                      
   .gridtable td:nth-child(n+4):nth-child(-n+6)
   {
	 border: 1px solid white;
   }
   .content-body label 
   {
	 font-weight: 600;
   }
   table.dataTable { margin-top: 0; }
   .smallblack 
   {
	 font-size: 12px;
   }
   .colorwrapper
   {
	 position:relative;
	 float:right;
   }
   .filter-controls 
   {
	 position: relative;
	 padding: 20px;
	 border: 2px solid #fff;
   }  
   .filter--title 
   { 
	 float: left;
	 margin-top: 0;
   }
   .filter--label 
   {
	 float: left;
	 width: auto;
	 margin-right: 1.5em;
	 margin-bottom: .5em;
   }
   .filter--dropdown-wrapper 
   {
	 z-index: 10;
	 margin-bottom: 1em;
   }
   @media only screen and (min-width: 48em) 
   {
	 .filter--dropdown-wrapper 
	 { 
	   margin: 0; 
	 }
   }  

   @font-face {
	font-family:'Berlingske Sans';
	src:	url('https://sc.edu/_global_resources/fonts/BerlingskeSans-Md.woff2') format('woff2'),
	url('https://sc.edu/_global_resources/fonts/BerlingskeSans-Md.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family:'Berlingske Sans';
	src:	url('https://sc.edu/_global_resources/fonts/BerlingskeSans-XBd.woff2') format('woff2'),
	url('https://sc.edu/_global_resources/fonts/BerlingskeSans-XBd.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}


:root {
	/** Primary Colors **/
     --color-primary: #73000a;
    --color-secondary: #000;
    --color-tertiary: #FFF;

    /** BG Colors **/
    --color-dark-garnet: #570008;
	--color-azalea: #844247;
	--color-rose: #CC2E40;
	--color-atlantic: #466A9F;
	--color-congaree: #1F414D;
	--color-horseshoe: #65780B;
	--color-grass: #CED318;
	--color-honeycomb: #a49137;
	--color-warm-gray: #676156;
	--color-sandstorm:  #FFF2E3;
	--color-light-gray: #ececec;
	--color-dark-gray: #5C5C5C;
	--color-silver: #c7c7c7;
	--color-mineshaft: #363636;

	/** Shadows **/
	--inset-box-shadow: inset 0 0 30px rgb(0 0 0 / 60%);
	--headline-text-shadow: 5px 5px 20px rgb(0 0 0 / 100%);
	
	/** Hover states **/
	--scale-up-photo: scale3d(1.05, 1.05, 1);

	/** Fonts **/
	--primary-font: 'Berlingske Sans', 'Arial', sans-serif;
	--primary-font-condensed: 'Berlingske Sans Extracondensed', 'Impact', sans-serif;
	--primary-font-serif: 'Berlingske Serif', 'Georgia', serif;
}


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, .hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }


a:hover, a:active { outline: 0; }


h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.3em;
    margin: 1em 0;
}



button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; margin: 1em 0; }
td { vertical-align: top; }

 .grid_1 { width:65px; }
 .grid_2 { width:160px; }
 .grid_3 { width:255px; }
 .grid_4 { width:350px; }
 .grid_5 { width:445px; }
 .grid_6 { width:540px; }
 .grid_7 { width:635px; }
 .grid_8 { width:730px; }
 .grid_9 { width:825px; }
 .grid_10 { width:920px; }
 .grid_11 { width:1015px; }
 .grid_12 { width:1110px; }
	
	.column 							{ margin:0 15px 0 15px; float:left; display:inline; }
	.row 								{
		margin:0 auto;
		width:1170px;
}
	.row .row 							{
	margin:0 -15px 0 -15px;
	width:auto;
	display:inline-block;
}

.wrapper {
	position: relative;
	padding-left: 15px;
    padding-right: 15px;
    float: left;
}


/***** Smaller than 1139px *****/


@media only screen and (min-width: 960px) and (max-width: 1139px) {


	.grid_1								{ width:50px; }
	.grid_2 							{ width:130px; }
	.grid_3 							{ width:210px; }
	.grid_4 							{ width:290px; }
	.grid_5 							{ width:370px; }		
	.grid_6 							{ width:450px; }
	.grid_7 							{ width:530px; }
	.grid_8 							{ width:610px; }
	.grid_9								{ width:690px; }
	.grid_10							{ width:770px; }
	.grid_11							{ width:850px; }
	.grid_12							{ width:930px; }


	.column 							{ margin:0 15px 0 15px; float:left; display:inline; }
	.row 								{ margin:0 auto; width:990px;}
	.row .row 							{
	margin:0 -15px 0 -15px;
	width:auto;
	display:inline-block;
}
}

/***** iPad Smaller than 959px *****/

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
	.grid_1								{ width:24px; }
	.grid_2 							{ width:92px; }
	.grid_3 							{ width:172px; }
	.grid_4 							{ width:216px; }
	.grid_5 							{ width:280px; }		
	.grid_6 							{ width:344px; }
	.grid_7 							{ width:408px; }
	.grid_8 							{ width:470px; }
	.grid_9								{ width:536px; }
	.grid_10							{ width:600px; }
	.grid_11							{ width:664px; }
	.grid_12							{ width:728px; }
	
	.column 							{ margin:0 10px 0 10px; float:left; display:inline; }
	.row 								{ margin:0 auto; width:768px; }
	.row .row 							{ margin:0 -10px 0 -10px; width:auto; display:inline-block; }

	.wrapper {
	padding-left: 10px;
	padding-right: 10px;
	}
}

/* iPhone (Portrait) ----------- */
@media only screen and (min-width: 200px) and (max-width: 480px) {
		
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12							{
	width:100%;
	margin: 10px auto;
	display: block;
	float: none;
	position: relative;
}
	
	.column 							{ margin:0px 0 0 0; float:left; display:inline; overflow:hidden; }
	.row 								{ width:100%; }
	.row .row 							{ margin:0; width:100%; display:inline-block; }
				
}	 

/* iPhone (Landscape) ----------- */	
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12							{ width:100%;
	margin: 10px auto;
	display: block;
	float: none;
	position: relative; }
	
	.column 							{ margin:0px 0 0 0; float:left; display:inline; overflow:hidden; }
	.row 								{ width:100%; }
	.row .row 							{ margin:0; width:100%; display:inline-block; }	

}

/* Foundation Visibility HTML Classes */
.show-for-small,
.show-for-medium-down,
.show-for-large-down {
  display: inherit !important; }

.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
  display: none !important; }

.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
  display: none !important; }

@media only screen and (min-width: 768px) {
  .show-for-medium,
  .show-for-medium-up {
    display: inherit !important; }

  .show-for-small {
    display: none !important; }

  .hide-for-small {
    display: inherit !important; }

  .hide-for-medium,
  .hide-for-medium-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-medium, table.show-for-medium-up, table.hide-for-small {
    display: table; }

  thead.show-for-medium, thead.show-for-medium-up, thead.hide-for-small {
    display: table-header-group !important; }

  tbody.show-for-medium, tbody.show-for-medium-up, tbody.hide-for-small {
    display: table-row-group !important; }

  tr.show-for-medium, tr.show-for-medium-up, tr.hide-for-small {
    display: table-row !important; }

  td.show-for-medium, td.show-for-medium-up, td.hide-for-small,
  th.show-for-medium,
  th.show-for-medium-up,
  th.hide-for-small {
    display: table-cell !important; } }
	







/***** Basic Styles *****/
	html 									{ overflow:-moz-scrollbars-vertical; }
	body									{ font-family: "Berlingske Sans", "Arial", sans-serif; font-weight: 500; }

	
/***** Blockquotes *****/

	blockquote, blockquote p:first-child 	{ font-size:18px; line-height:28px; }
	blockquote p:first-child 				{ 
		position: relative;
		font-family: "Berlingske Serif", "Georgia", serif;
		font-weight: 700;
		color: #73000a; 
	}
	blockquote 								{ margin: 0 0 2.5em 0; padding: 5% 9% 3% 35px; position:relative; background-color:#ececec; z-index: 1; }
	p + blockquote { margin-top: 2.5em; }
	blockquote:before, blockquote:after		{ 
		display: block; 
		content: "\201C"; 
		font-size: 195px; 
		font-family: "Berlingske Sans Extracondensed", "Impact", sans-serif;
    	font-weight: 800;
		position: absolute; 
		top: 52px; 
		color: #FFF; 
		z-index: -1;
	}
	blockquote:before						{ left: 2%; }
	blockquote:after						{ content: "\201D"; right: 15px; top:100%; }
	blockquote .cite, blockquote+.cite, blockquote>p:first-child+p {
		display: block;
		font-size: 12px;
		font-family: var(--primary-font);
		color: inherit;
		margin-bottom: 0;
	}
	blockquote .cite a,
	blockquote .cite a:visited,
	blockquote .cite a:visited 				{ color:currentColor; }
/* 	blockquote span							{ width:15px; display:inline-block; } */
	
	hr 										{ margin:20px 0 20px 0; border:0; border-top:1px solid #C7C7C7; height:2px; width:100%; text-align:left; }

/***** Links *****/

	a {
    color: #73000a;
    text-decoration: none;
}

a,
a > span,
.gs-title a {
  -webkit-transition: background-color .3s, color .3s, -webkit-box-shadow 0s 0s;
  transition: background-color .3s, color .3s, -webkit-box-shadow 0s 0s;
  transition: background-color .3s, box-shadow 0s 0s, color .3s;
  transition: background-color .3s, box-shadow 0s 0s, color .3s, -webkit-box-shadow 0s 0s;
  -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
          box-shadow: 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }

p a:not([id]),
td a:not([id]),
#mainContent ul a,
#mainContent ol a {
  text-decoration: underline; }

a:hover,
a:focus,
nav a {
  text-decoration: none !important; }

a:not([id]):hover > span,
a:not([id]):focus > span,
.gs-title a:hover {
  color: #fff;
  background-color: #CC2E40;
  -webkit-box-shadow: 2px -2px 0 #CC2E40, -2px -2px 0 #CC2E40, -2px 1px 0 #CC2E40, 2px 1px 0 #CC2E40;
          box-shadow: 2px -2px 0 #CC2E40, -2px -2px 0 #CC2E40, -2px 1px 0 #CC2E40, 2px 1px 0 #CC2E40;
  -webkit-transition: background-color .3s, box-shadow .3s .01s, color .3s .01s;
  transition: background-color .3s, box-shadow .3s .01s, color .3s .01s; }

a:focus,
button:focus { 
    outline: 3px auto rgba(142, 189, 254, 0.75);
	outline: 5px auto -webkit-focus-ring-color;
 }

		/* For External links outside of the site and new window */
		.new-window:not(.btn):after	{ 
			content: '';
			background: url(../img/icons/external_link.png) no-repeat center right; 
			padding-right: 15px; 
			width: 11px;
			height: 11px;
		}

/***** Selection text color *****/
::selection {
  color: #fff;
  background: #466A9F; }

/***** Typography *****/

h1, h2, h3, h4, h5, h6 { font-weight: 800; color:#73000a; margin: 0px 0px 5px; }

p { 
	line-height:1.8em; 
	margin-top:0px; }


/***** Lists *****/
	ol 										{ list-style:decimal; }
	ul.square, ul.circle, ul.disc 			{ margin-left:15px; }
	ul.square 								{ list-style:square outside; }
	ul.circle 								{ list-style:circle outside; }
	ul.disc 								{ list-style:disc outside; }
	ul.fancy li								{ padding:0 0 0 15px; background:transparent url('../images/bullet.png') no-repeat 0 3px; }
	ul ul li, ul ol li,	ol ol li, ol ul li 	{ }
	ul.large li 							{ line-height:21px; }
	li p 									{ line-height:25px; }
	dt										{ font-weight:bold; color:#73000a; }


/***** Tables *****/

table										{ width: 100%; }
table th									{ color: #FFF; background-color: #5B5B5B; text-align: left; }
table th, table td							{ padding:7px; border: 1px #c8c8c8 solid;}
caption										{ text-align:left; margin-bottom: 7px; }


input[type="submit"], 
input[type="search"], 
input[type="reset"], 
input[type="number"], 
input[type="phone"],
input[type="time"], 
input[type="tel"], 
input[type="date"], 
input[type="button"], 
input[type="text"], 
input[type="password"], 
input[type="email"], 
select, 
textarea  {
	width: 100%;
	height: 35px;
	border: 1px solid #C7C7C7;
	max-width: 48em;
	margin-bottom: 1em;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius: 0;
}
textarea { height: auto; }

