/* Site Specific */
.filter-controls {
    position: relative;
    padding: 20px;
    background-color: #ECECEC;
    border: 2px solid #fff;
}

.filter--title { 
  float: left;
  margin-top: 0;
}

.dataTables_filter input[type=search],
.dataTables_filter {
	width: 100% !important;
}

.dataTables_filter input[type=search] {
    margin-top: .5em;
    box-sizing: border-box;
}

.dataTables_info {
	margin: 5px 10px;
    clear: right !important;
}

.reset-btn {
	text-transform: uppercase;
	background-color: #73000a;
	color: #fff;
	border: none;
	border-radius: 7px;
	transition: .2s linear;
	-webkit-appearance: none;
	margin-bottom: 1em;
	display: inline-block;
	width: auto;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 12px;
	height: 25px;
	padding: 0 10px;
	margin: 0;
}